<div class="form-group">
	<%= form_for(@quiz) do |f| %>
		<%= f.label :title %><br />
		<%= f.text_field :title, placeholder: "Quiz title", class: "form-control" %>
		<%= f.fields_for :questions do |builder| %>
			<%= render 'question_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields "Add Question", f, :questions %></p>
	  	<%= f.submit "Submit", class: "btn btn-primary" %>
	<% end %>
</div>
