 <div class='nested-fields'>
 <hr>
    <div class="field">
      <%= f.label :question %>
      <%= f.text_field :question , class: "form-control"%>
    </div>

    <div>
          <%= f.fields_for :answers do |task| %>
            <%= render 'answer_fields', :f => task %>
          <% end %>
          
          <br>
            <%= link_to_add_association 'add options', f, :answers %>
          
    </div>

    
    <%= link_to_remove_association "remove question", f,class: "btn btn-danger btn-xs" %>
</div>