<div class='nested-fields'>
  <hr>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control"%>
  </div>

  <div>
    <%= f.fields_for :answers do |answer| %>
        <%= render 'answer_fields', :f => answer %>
    <% end %>

    <br>
    <%= link_to_add_association 'add options', f, :answers %>

  </div>


  <%= link_to_remove_association "remove question", f, class: "btn btn-danger btn-xs" %>
</div>
