<div class="quiz-edit">
  <div class="container">

    <h3> <%= @quiz.title %> </h3>
    <div>
      <% @count = 1 %>
      <%= form_tag "result" do %>
          <% @questions.each do |question| %>
              Questions: <%= question.content %> <br>

              <% @options.where(question_id: question.id).each do |option| %>
                  <%= radio_button_tag "question#{@count}", option.id %>
                  <%= option.content %> <br>
              <% end %>
              <br>
              <% @count = @count+1 %>
          <% end %>
          <%= submit_tag "Save", :class => "btn btn-success" %>
      <% end %>
    </div>



  </div>
</div>
