<div class="course-show">
  <div class="container">
    <h2><%= @course.name %></h2>
    <div class="course-info">
      <h3>Teacher</h3>
      <span class="course-teacher"><%= @course.teacher.username %></span>
      <p>Course Info Here</p>
      <div class="course-students">
        <h3>Students</h3>
        <ul>
        <% @course.students.each do |student| %>
          <li><%= student.username %></li>
        <% end %>
        </ul>
      </div>
    </div>
  	<p class="course-edit">
      <%= link_to edit_course_path(@course), class: "btn btn-warning" do %>
        <i class="glyphicon glyphicon-edit"></i> Edit Course
      <% end %>
      <%= link_to course_path(@course),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: "btn btn-danger" do %>
        <i class="glyphicon glyphicon-remove-circle"></i> Delete Course
      <% end %>
  	</p>
  </div>
</div>
